<!--現在ログインしているユーザー以外のプロフィールページのときのみ下記を表示する-->
<% unless current_user?(@user) %>
  <div id="follow_form">
    <!--フォローしている時はアンフォローボタンを、フォローしていない時はフォローボタンを表示する。-->
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>